name: Metrics
"on":
  schedule:
    - cron: "0 0 * * SUN"
  workflow_dispatch:
  push:
    branches:
      - master
      - main
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: "${{ secrets.METRICS_TOKEN }}"
          user: PerHac13
          template: classic
          
          base: "header, activity, community, repositories, metadata"
          commits_authoring: PerHac13
          base_hireable: "yes"
          base_indepth: "yes"
          config_display: large
          config_octicon: yes
          config_timezone: Asia/Kolkata
          config_twemoji: yes
          
          plugin_achievements: "yes"
          plugin_achievements_display: detailed
          plugin_achievements_secrets: "no" 
          plugin_achievements_threshold: C
          
          plugin_calendar: yes
          plugin_calendar_limit: 2
          
          plugin_activity: "yes"
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_skipped: Competitive_Programming, Resume
          plugin_activity_limit: 10
          plugin_activity_load: 100 
          plugin_activity_visibility: all
          
          plugin_followup: "yes"
          plugin_followup_archived: "yes"
          plugin_followup_indepth: "yes"
          plugin_followup_sections: repositories
          
          plugin_habits: "yes"
          plugin_habits_charts_type: classic
          plugin_habits_days: 14
          plugin_habits_facts: "yes"
          plugin_habits_from: 200
          plugin_habits_languages_limit: 8
          plugin_habits_languages_threshold: 10%
          
          plugin_introduction: "yes"
          plugin_introduction_title: "yes"
          
          plugin_isocalendar: "yes"
          plugin_isocalendar_duration: half-year
          
          plugin_languages: "yes"
          plugin_languages_aliases: javascript:JS,typescript:TS
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup,programming
          plugin_languages_colors: github
          plugin_languages_ignored: html,css
          plugin_languages_skipped: Competitive_Programming
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup,programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          
          plugin_lines: "yes"
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base
          plugin_lines_skipped: Competitive_Programming
          
          plugin_notable: "yes"
          plugin_notable_from: organization
          plugin_notable_indepth: "yes"
          plugin_notable_repositories: "yes"
          plugin_notable_self: "yes"
          plugin_notable_types: commit
          
          plugin_repositories: "yes"
          plugin_repositories_order: featured,pinned,starred,random
          plugin_repositories_pinned: 6
          plugin_repositories_random: 2
          plugin_repositories_starred: 2
          
          plugin_topics: "yes"
          plugin_topics_limit: 15
          plugin_topics_mode: icons
          plugin_topics_sort: stars
          
          plugin_traffic: "yes"
